<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" 
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
             
</head>
<body style="background-color: #2b2a28;">

<section   class="container section" >
  <div class="row" style=" margin-left: 20%; margin-top: 20%;">
    <div  class="col s12 l6 offset-12">

      <ul class="tabs">
        <li class="tab col s6">
          <a href="#First">First</a>
        </li>
        <li class="tab col s6">
          <a href="#Second">Second</a>
        </li>

      </ul>

    </div>
    <div id="First"> 

      <p>dnkjnkjgnrkjhktr</p>
    </div>
    <div id="Second">
      <p>This is the second one</p>
    </div>

  </div>

</section>


 
</body>

</html>
