<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Tabs Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" 
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
         <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
      <style>
        body {
    background-image: url(https://wallpapercave.com/wp/wp3097693.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

      </style>
   </head>
   
   <body class = "container" > 
      
      <div class="container" style="margin-left: 10%; margin-top: 5%;">
        <div style=" background-color: #f4f3f3;
        /* opacity: 0.65; */
        background: rgb(204, 204, 204);
        /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5);
        color: black;
        width: 100%;
        position: relative;">
          <p style="text-align: center;">
            <h2 style="text-align: center; font-family: 'Acme', sans-serif;">Instructions</h2>
            <ol >
              <li style="font-family: 'Raleway', sans-serif;" >To Sign Up ,  Verify You Email Id With Us by Clicking On "Register Your Email Id"</li>
              <ul>
                <li style="font-family: 'Raleway', sans-serif;">a)Enter Your Email Id</li>
                <li style="font-family: 'Raleway', sans-serif;">b)You will receive a mail on the provided Id</li>
                <li style="font-family: 'Raleway', sans-serif;">c)Click on the link received in the mail to verify your ID</li>
              </ul>
              <li style="font-family: 'Raleway', sans-serif;">Login With Your Credentials and Provide the Meeting Link to get started</li>
            </ol>
          </p>
        </div>
        <div class = "row" >
            <div class = "col s12" style="background-color: #dbd7d7;">
               <ul class = "tabs">
                  <li class = "tab col s6" style="background-color: #dbd7d7;"><a  class="active" href = "#login">Login</a></li>
                  <li class = "tab col s6" style="background-color: #dbd7d7;"><a  href = "#signup">
                     Register Your Email ID</a></li>
               
               </ul>
            </div>
            <br>
            <br>

            <div class="container" style="text-align: center; color: red;" >
              <br>
              <br>
              <% const m=getMessages() %>
             
              <% if (m.notify) { %>
               <% m.notify.forEach((element) => { %>
               <%= element %>
               <% }) %>
              <% } %>
       
               </div>
            
            <div id = "login" class = "col s12">
                
             
                
                <form class="col s12" action="/login" method="POST">

                    
                  
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate" name="email" style="color: white;">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password" name="password" style="color: white; ">
                          <label for="password">Password</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="meetCode" type="text" name="meetCode" style="color: white;">
                          <label for="meetCode">Meeting Code</label>
                        </div>
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: #dbd7d7; color: black;">Submit
                        <i class="material-icons right">send</i>
                      </button>
                            



                </form>
            
            
            </div>
            <div id = "signup" class = "col s12">
              
                <form class="col s12" action="/signUp" method="POST">

                    
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate" name="email">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password"  name="password">
                          <label for="password">Password</label>
                        </div>
                      </div> -->
                      <button class="btn waves-effect waves-light "  style="background-color: #dbd7d7; color: black;" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                            



                </form>
            </div>
         
         </div> 
      </div>
     
   </body>
</html>