body {
    background-image: url(https://image.freepik.com/free-photo/remote-meeting-woman-working-from-home-during-coronavirus-covid-19-quarantine-remote-office-concept_155003-12406.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.heading {
    /* display: inline-block; */
    font-family: 'Merienda', cursive;
    background-color: #6a492b;
    /* opacity: 0.65; */
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    /* border-radius: 40px; */
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
    /* margin-left: px; */
    padding-bottom: 20px;
}

.banner {
    background-color: #f4f3f3;
    /* opacity: 0.65; */
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: black;
    width: 100%;
    position: relative;
}

.banner img {
    margin-left: 40%;
    max-width: 100%;
    max-height: 500px;
}

.banner p {
    max-width: 500px;
    position: absolute;
    left: 3%;
    top: 10%;
    padding: 20px;
}

.Logo {
    width: 10%;
    height: 101%;
}


/* .navbar {
    background-image: url("CureMeet.png");
} */

.backimage {
    background-image: url("pic1.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    width: 2000px;
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
}

.AboutUsDiv {
    background-color: #f4f3f3;
    /* opacity: 0.5; */
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: black;
    margin-left: 15%;
    max-width: 70%;
    border-radius: 8px;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.ContactUsDiv {
    background-color: #f4f3f3;
    /* opacity: 0.5; */
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: black;
    margin-left: 15%;
    max-width: 70%;
    border-radius: 8px;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.bar {
    position: fixed;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    z-index: 1;
}